
<div class="jumbotron">
	<h1> Guerra Guerra, Alfonso </h1>

	<%= link_to "<< Volver",   'alumnos', class: 'btn btn-primary' %><br/><br/>

	<table class="table">
		<tr><th>F.NACIMIENTO</th><td> 2004/05/06 </td></tr>
		<tr><th>DIRECCIÓN</th><td> Plza. Constitución, 14. 2D </td></tr>
		<tr><th>TELÉFONO</th><td> 333 426 223 </td></tr>
		
	</table>

	<table class="table">	
		<tr><th>CURSO</th><td>1 A</td></tr>
		<tr><th>TUTOR</th><td>Cartagena Lago, José Luis</td><td><%= mail_to "cartagenaljl@ymail.com", 'cartagenaljl@ymail.com' %></td></tr>
	</table>
	<br/><br/>
	<h3><%= image_tag('owl.png',size:'40') %> Incidencias </h3>
	<table class="table">
	<thead>
		<tr><th> Origen </th><th> Tipo </th><th>Detalle</th><th>Fecha</th></tr>
	</thead>
	<tbody>
		<tr>
			<td> Orientador </td>
			<td> Progreso Académico </td>
			<td> Cito al alumno para comentar el progreso en la segunda evaluación </td>
			<td> 17/03/2016</td>
		</tr>
		<tr>
			<td> Matemáticas </td>
			<td> Seguimiento General </td>
			<td> Resuelvo dudas y facilito ejercicios de refuerzo para el alumno </td>
			<td> 10/03/2016</td>
		</tr>
		<tr>
			<td> Profesor Lengua </td>
			<td> Seguimiento General </td>
			<td> El alumna participa en la organización de una actividad de teatro </td>
			<td> 07/03/2016</td>
		</tr>

	</tbody>	
	</table>


		<br/><br/>
	<h3><%= image_tag('history.png',size:'40') %> Notas </h3>
	<table class="table">
	<thead>
		<tr>
			<th> Evaluación </th>
			<th> Asignatura </th>
			<th> Nota</th>
			<th>Fecha</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> Primera </td>
			<td> Historia  </td>
			<td> 9,8  </td>
			<td> 24/11/2016</td>
		</tr>		
		<tr>
			<td> Primera </td>
			<td> Latín </td>
			<td> 9 </td>
			<td> 24/11/2016</td>
		</tr>		
		<tr>
			<td> Primera </td>
			<td> Matemáticas </td>
			<td> 8,2 </td>
			<td> 24/11/2016</td>
		</tr>		<tr>
			<td> Primera </td>
			<td> Lengua </td>
			<td> 9,5 </td>
			<td> 24/11/2016</td>
		</tr>
	</tbody>	
	</table>

	<%= link_to "<< Volver",   'alumnos', class: 'btn btn-primary' %>
</div>

