
<div class="jumbotron">
<div class="row center">
<h1><%= image_tag('book.png',size:'50') %>Alumnos</h1>
</div>
<p>Relación de alumnos</p>
<table class="table">
	<thead>
    <th><%= image_tag('book.png',size:'12') %><%= image_tag('book-1.png',size:'12') %> </th>
		<th>id</th>
		<th>Apellidos</th>
		<th>Nombre</th>
		<th>Curso</th>
		<th>Fecha Nacimiento</th>
		<th><%= image_tag('ver.png',size:'12') %></th>
	</thead>
	<tbody>
	<tr>
    <td><%= image_tag('book-1.png',size:'24') %> </td>
		<td>8155</td>
		<td>Pulido Montes</td>
		<td>Gabriel</td>

		<td>1 A</td>
		<td>2004/04/22</td>
		<td><%= link_to "Ver", '8155' %></td>
	</tr>
	<tr>
    <td><%= image_tag('book-1.png',size:'24') %> </td>
		<td>8156</td>
		<td>Muñoz Muñoz</td>
		<td>Ernesto</td>

		<td>1 A</td>
		<td>2004/11/12</td>
		<td><%= link_to "Ver", '8156' %></td>
	</tr>
	<tr>
    <td><%= image_tag('book.png',size:'24') %> </td>
		<td>8157</td>
		<td>Nabhan</td>
		<td>Kloloud</td>

		<td>1 A</td>
		<td>2004/01/25</td>
		<td><%= link_to "Ver", '8157' %></td>
	</tr>
	<tr>
    <td><%= image_tag('book.png',size:'24') %> </td>
		<td>8158</td>
		<td>Rodrígez Vega </td>
		<td>María</td>

		<td>1 A</td>
		<td>2004/05/04</td>

		<td><%= link_to "Ver", '8158' %></td>
	</tr>
	<tr>
    <td><%= image_tag('book-1.png',size:'24') %> </td>
		<td>8159</td>
		<td>Guerra Guerra</td>
		<td>Alfonso</td>
		
		<td>1 A</td>
		<td>2004/05/06</td>
		<td><%= link_to "Ver", '8159' %></td>
	</tr>
	<tr>
    <td><%= image_tag('book-1.png',size:'24') %> </td>
		<td>8160</td>
		<td>Guerra Guerra</td>
		<td>Carlos</td>
		
		<td>1 A</td>
		<td>2004/05/06</td>
		<td><%= link_to "Ver", '8160' %></td>
	</tr>


	</tbody>
</table>
</div>