
<div class="jumbotron">
	<div class="row center">
		<h1><%= image_tag('paper-plane.png',size:'50') %>  Mensajes <%= current_user.rol.capitalize %></h1><br/>
	</div>

<% if current_user.rol=='orientador' %>
  <%= render 'buzon1' %>
   
<% elsif current_user.rol=='docente' %>
    <%= render 'buzon2' %>

<% elsif current_user.rol=='familia' %>
    <%= render 'buzon3' %>
 <% end %>
 </div>


