<div class="jumbotron">
	<div class="row center">
	<h1><%= image_tag('lighthouse.png',size:'50') %>  Plan de Acción Tutorial </h1>
	</div>
	<div class="row">
	<h3> Reuniones de coordinación </h3>
	</div>
	<div class="table-responsive">
	<table class="table">
		<thead > 
			<th >1ºESO</th>
			<th>2ºESO</th>
			<th>3ºESO</th>
			<th>4ºESO</th>
			<th>1ºBACH</th>
			<th>2ºBACH</th>	
		</thead>
		<tbody>
		<tr>
			<td> Miércoles <br/>9:10 - 10:05 </td>
			<td> Jueves <br/> 12:15 - 13:10 </td>
			<td> Jueves <br/> 10:55 - 10:55 </td>
			<td> Viernes <br/> 12:15 - 13:10 </td>
			<td> Jueves <br/> 11:20 - 12:15 </td>
			<td> Martes <br/> 9:10 - 10:05 </td>
		</tr>
		</tbody>
	</table>
	</div>


	<div class="row">
	<br/><br/>
	<h3> Actividades de tutoría 1er Trimestre </h3><br/>
	</div>

	<div class="row">

	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker1"></div>
	    </div>

	  	<div class="col-xs-6 col-md-8">
	  		<h3> Septiembre </h3>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default panel-info">
			    <div class="panel-heading">
			      <h4 class="panel-title">

			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
			        <strong> Bienvenida al alumnado </strong> <small> 5-9 Septiembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse11" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	<p>Dar una acogida cálida al alumnado. Informar sobre funcionamiento del centro.</p>
			      	<li><%= link_to "Bienvenida al alumnado.",   'actividad1' %></li>
					<li><%= link_to "Dinámica ¿Quién soy? PLAN DE ACOGIDA",   'actividad1' %> </li>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default panel-danger">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
			        <strong> Votación Elección de Delegado </strong> <small>12-16 Septiembre</small></a>
			      </h4>
			    </div>
			    <div id="collapse12" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p> Motivar elección responsable. Elegir Delegado</p>
					<li><%= link_to "Votación Elección Delegado.",   'actividad2' %></li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-success">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
			        <strong> Actividad "Tú, ¿¡Qué harías!?" </strong> <small>19-23 Septiembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse13" class="panel-collapse collapse ">
			      <div class="panel-body">
			      <p>Conocer más en profundidad al alumnado y evitar conflictos</p>
			      <li><%= link_to "Actividad Tú, ¡Qué harías!?",   'actividad3' %></li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-warning">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
			        <strong> Hábitos de Estudio </strong> <small>26-30 Septiembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse14" class="panel-collapse collapse ">
			      <div class="panel-body">
			      <p>Programar y planificar sesión de estudio</p>
			      <li><%= link_to "Actividad Así Estudio",   'actividad4' %></li>
			      </div>
			    </div>
			  </div>

			</div>
	  	</div>
	</div>
	<div class="row">
		
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker2"></div>
	    </div>
	    <div class="col-xs-6 col-md-8">
	    	<h3> Octubre </h3>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default panel-warning">
			    <div class="panel-heading">
			      <h4 class="panel-title">

			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
			        <strong> Hábitos de Estudio </strong> <small> 3-7 Octubre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse21" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	<p>Técnicas de estudio. El Subrayado</p>
			      	<li> Subrayar para comprender. </li>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default panel-danger">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">
			        <strong> Sociescuela </strong> <small> 10-14 Octubre </small></a>
			      </h4>
			    </div>
			    <div id="collapse22" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>  Con el cuestionario se detecta a aquellos estudiantes con riesgo de sufrir acoso escolar. </p>
					<li> Actividad: Rellenar cuestionario sobre su clase </li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-success">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse23">
			        <strong> Campaña sensibilización discapacidad física </strong> <small> 17-21 Octubre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse23" class="panel-collapse collapse ">
			      <div class="panel-body">
			      <p> Realizar actividades para que los alumnos experimenten los problemas con los que se encuentran las personas con discapacidad física en el día a día. </p>
			      <li>Ver video "Soulsurfer"</li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-success">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse24">
			        <strong> Campaña sensibilización discapacidad física </strong> <small>24-28 Septiembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse24" class="panel-collapse collapse ">
			      <div class="panel-body">			      
			      <li>Terminar video "Soulsurfer"</li>
			      </div>
			    </div>
			  </div>

			</div>
	  	</div>
	</div>
	<div class="row">
		
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker3"></div>
	    </div>	    	
	    <div class="col-xs-6 col-md-8">
	    	<h3> Noviembre </h3>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default panel-info">
			    <div class="panel-heading">
			      <h4 class="panel-title">

			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse31">
			        <strong> Educación Vial </strong> <small> 31 Octubre - 4 Noviembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse31" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	<p> Crear actitud de prevención tanto de peatón como de conductor.  Conocer normas de circulación. </p>
			      	<li> Taller con Policía. </li>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default panel-danger">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse32">
			        <strong> Preparación para simulacro de incendio. </strong> <small> 7-11 Noviembre </small></a>
			      </h4>
			    </div>
			    <div id="collapse32" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>  Conocer cómo actuar ante una situación de incendio. </p>
					<li> Realizar simulacro de emergencia. </li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-warning">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse33">
			        <strong> Preparación 1º Evaluación. </strong> <small> 14-18 Noviembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse33" class="panel-collapse collapse ">
			      <div class="panel-body">
			      <p> Preparar la primera evaluación.  </p>
			      <li> Evaluamos nuestro esfuerzo </li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-info">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse34">
			        <strong> Información sobre drogas: Tabaco </strong> <small>21-25 Noviembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse34" class="panel-collapse collapse ">
			      <div class="panel-body">	
			      <p>Prevención del uso del tábaco</p>		      
			      <li>Role Playing "Simplemente no" </li>
			      </div>
			    </div>
			  </div>
	  	</div>
	</div>	
	<div class="row">
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker4"></div>
	    </div>
	    <div class="col-xs-6 col-md-8">
	    	<h3> Diciembre </h3>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default panel-success">
			    <div class="panel-heading">
			      <h4 class="panel-title">

			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse41">
			        <strong> Entrenamiento toma de decisiones </strong> <small> 28 Noviembre - 2 Diciembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse41" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	<p> Detectar la motivación de los actos  y saber que hacer. </p>
			      	<li> Dilemas morales. </li>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default panel-warning">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse42">
			        <strong> Postevaluación </strong> <small> 5 - 9 Diciembre </small></a>
			      </h4>
			    </div>
			    <div id="collapse42" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p> Reflexionar si hemos hecho todo lo posible para superarnos en esta evaluación. </p>	
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-info">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse43">
			        <strong> Charla sobre control postural </strong> <small> 12 - 16 Diciembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse43" class="panel-collapse collapse ">
			      <div class="panel-body">
			      <p> Prevención de malas posturas a la hora de sentarse.  </p>
			      <li> Evaluamos nuestro esfuerzo </li>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default panel-success">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse44">
			        <strong> Campaña sensibilización sobre los más desfavorecidos. </strong> <small> 19 - 23 Diciembre </small> </a>
			      </h4>
			    </div>
			    <div id="collapse44" class="panel-collapse collapse ">
			      <div class="panel-body">	
			      <p> Sensibilización situación más desfavorecidos. </p>		      
			      <li> Charla "Juntos Cero Hambre" Voluntarios Banco de Alimentos. </li>
			      </div>
			    </div>
			  </div>
	  	</div>
	</div>
</div>

<script>

    $(document).ready(function () {
	    $('#datepicker1').datepicker({
	    	startDate: "01/09/2016", 
	    	endDate: "30/09/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	      	multidate: true,
	        daysOfWeekDisabled: "0,6", 
			beforeShowDay: function (date) {
					if (date.getMonth()==8){
					switch(date.getDate()){						
						case 5:case 6: case 7: case 8: case 9:
							return {tooltip: ' Bienvenida al alumnado',classes: 'alert-info'};
						case 12: case 13: case 14: case 15: case 16:
							return {tooltip: 'Votación Elección de Delegado',classes: 'alert-danger'};
						case 19: case 20: case 21: case 22: case 23:
							return {tooltip: 'Actividad Tú, ¿¡Qué harías!?',classes: 'alert-success'};
						case 26: case 27: case 28: case 29: case 30:
							return {tooltip: 'Hábitos de Estudio',classes: 'alert-warning'};
					}
				}
	      }
	    });

	    $('#datepicker2').datepicker({
	    	startDate: "01/10/2016", 
	    	endDate: "31/10/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	      	multidate: true,
	        daysOfWeekDisabled: "0,6", 
			beforeShowDay: function (date) {
					if (date.getMonth()==9){
					switch(date.getDate()){						
						case 3: case 4: case 5:case 6: case 7: 
							return {tooltip: 'Hábitos de Estudio',classes: 'alert-warning'};
						case 10: case 11: case 12: case 13: case 14: 
							return {tooltip: 'Socioescuela',classes: 'alert-danger'};
						case 17: case 18: case 19: case 20: case 21:case 24: case 25: case 26: case 27: case 28:
							return {tooltip: 'Campaña sensibilización discapacidad física',classes: 'alert-success'};
						case 26: case 27: case 28: case 29: case 30:
							return {tooltip: 'Hábitos de Estudio',classes: 'alert-warning'};
						case 31:
							return {tooltip: 'Educación Vial',classes: 'alert-info'};
					}
				}
	      }
	    });


	    $('#datepicker3').datepicker({
	    	startDate: "01/11/2016", 
	    	endDate: "30/11/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	      	multidate: true,
	        daysOfWeekDisabled: "0,6", 
			beforeShowDay: function (date) {
					if (date.getMonth()==10){
					switch(date.getDate()){						
						case 1: case 2:  case 3: case 4: case 21: case 22:  case 23: case 24: case 25:
							return {tooltip: 'Educación Vial',classes: 'alert-info'};
						case 7: case 8:  case 9: case 10: case 11:
							return {tooltip: 'Preparación para simulacro de incendio',classes: 'alert-danger'};
						case 14: case 15: case 16: case 17: case 18:
							return {tooltip: 'Preparación 1º Evaluación',classes: 'alert-warning'};
						case 28: case 29: case 30: 
							return {tooltip: 'Entrenamiento toma de decisiones',classes: 'alert-success'};
						
					}
				}
	      }
	    });

	    $('#datepicker4').datepicker({
	    	startDate: "01/12/2016", 
	    	endDate: "31/12/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	      	multidate: true,
	        daysOfWeekDisabled: "0,6", 
			beforeShowDay: function (date) {
					if (date.getMonth()==11){
					switch(date.getDate()){						
						case 1: case 2: 
							return {tooltip: 'Entrenamiento toma de decisiones',classes: 'alert-success'};
						case 12: case 13:  case 14: case 15: case 16:
							return {tooltip: 'Charla sobre control postural',classes: 'alert-info'};
						case 5: case 6: case 7: case 8: case 9: 
							return {tooltip: 'Postevaluación',classes: 'alert-warning'};
						case 19: case 20: case 21:  case 22: case 23:
							return {tooltip: 'Campaña sensibilización sobre los más desfavorecidos',classes: 'alert-success'};
						
					}
				}
	      }
	    });
	});
</script>