<!DOCTYPE html>
<html>
  <head>
    <title>Orient@dos :: Plataforma del Departamento de Orientación</title>
    <%= favicon_link_tag 'orientation.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
        <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      	<%= link_to "Orientod@s #{image_tag('orientation.png',size:'24' )}".html_safe, root_path, id: 'logo' %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to current_user.rol.upcase  %></li>
                <% if (current_user.rol=='orientador' || current_user.rol=='docente')  %>
                  <li><%= link_to "Plan",   'plan' %></li>
                  <li><%= link_to "Alumnos",   'alumnos' %></li>              
                <% end %>
                <li><%= link_to "Mensajes", 'mensajes' %></li>
            <% end %>
			
            <li><%= link_to "Blog", 'blog' %></li>
            <li><%= link_to "Avisos", 'avisos' %></li>
            

            <% if logged_in? %>
              <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Iniciar Sesión", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="jumbotron">
      <%= render 'layouts/flash' %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>